/*Configuração Padrão de início*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Chamamos o body para limitar o tamanho da altura e tamanho da página*/
body {

    height: 100vh;
    width: 100vw;
}

header {
    /*Chamamos nosso Header para estilização*/
    background-color: rgb(78, 135, 168);
    /*Cor de fundo*/
    padding: 10vh;
    /*ajustamos o tamanho do preenchimento*/
}

.menu-header {
    /*Aqui é onde estão armazenados nossas listas do Header*/
    display: flex;
    /*Usamos para jogar os itens lado a lado*/
    justify-content: end;
    /*Aqui justificamos os itens desta lista para  o fim do Header*/
    flex-wrap: wrap;
    /*Usado para informar que os itens podem quebrar em telas menores*/
}

.menu-header>li>a {
    /*Aqui sabemos que dentro da nossa LI existe uma TAG de Link "a" */
    color: white;
    /*Cor da letra*/
    text-decoration: none;
    /*Desabilitando a decoração dos textos de Link*/
    font-size: 13px;
    /*Tamanho da letra*/
}

.menu-header>li>a:hover {
    /*Efeito ao passar o cursor*/
    color: rgb(81, 81, 228);
    /*Habilitando uma cor ao passar o mouse*/
    transition: 0.8s;
    /*Adicionamos aqui uma transição*/
}

.menu-header>li {
    /*Chamamos nossas Li diretamente para espaça-las*/
    margin-left: 20px;
    /*Margem a esquerda para espaçamento*/
}

#sessao {
    padding: 15rem;
    background: linear-gradient(180deg, #c0cdcf 8.33%, rgba(90, 168, 168) 100%);
}

/* Colocamos grau, cor e porcentagem a ser usada */

#sessao h1 {
    font-size: 2.5em;
    color: rgba(0, 0, 0, 0.759);
}

#sessao p {
    font-size: 2.3em;
    margin: 20px 0;
}

#sessao a button {
    padding: 22px;
    border-radius: 50px;
    border-color: rgb(19, 153, 108);
    width: 20em;
    cursor: pointer;
    color: rgb(19, 153, 108);
}

#sessao button:hover {
    color: white;
    transition: 0.8s;
    background-color: rgb(19, 153, 108);
    border-color: white
}

#app {
    padding: 15rem;
    background-color: rgb(226, 233, 233);
    display: flex;
    justify-content: space-around;
}

#app div a button {
    padding: 22px;
    border-radius: 50px;
    border-color: rgb(19, 153, 108);
    width: 20em;
    color: rgb(19, 153, 108);
    cursor: pointer;
}

#app a button:hover {
    color: white;
    transition: 0.8s;
    background-color: rgb(19, 153, 108);
    border-color: white
}

#app div p {
    font-size: 2.8em;
    margin-bottom: 20px;
}

#app div img {
    width: 25rem;
    height: 25rem;
    margin-top: -25px;
    margin-left: 50px;
}

#container {
    padding: 15rem;
    background-color: rgb(226, 233, 233);
}

#container h2 {
    font-size: 40px;
    text-align: center;
    color: rgba(0, 0, 255, 0.671);
    margin-top: -20rem;
    margin-bottom: 2rem;
}

#container p {
    font-size: 1.5rem;
    color: rgb(34, 34, 74);
    margin-bottom: 40px;
    text-align: justify;
}

#container button {
    padding: 15px;
    border-radius: 3rem;
    width: 12rem;
    margin-bottom: 50px;
    border-color: blue;
    color: blue;
}

#container button:hover {
    background-color: blue;
    border-color: white;
    transition: 0.8s;
    color: white;
    cursor: pointer;
}

.line {
    width: 70%;
    margin: 2rem auto;
}

#container img {
    width: 45rem;
    margin-left: 50px;
}


#container-cofre {
    background: linear-gradient(180deg, #0c16a364 8.33%, rgba(5, 39, 101, 0.745) 100%), url(imagens/img\ cofre\ fundo.jpg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15rem;
}

#container-cofre img {
    width: 20rem;
    height: auto;
    margin-top: 9rem;
}

#container-cofre h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
}

#container-cofre p {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-top: 2rem;
    margin-left: 1rem;
    font-weight: 700;
}

#footer-contatos {
    background-color: rgba(14, 13, 13, 0.959);
    padding: 2rem;
    color: white;
    text-align: center;
}

#footer-contatos img {
    width: 17rem;
    margin-bottom: 30px;
}

#footer-contatos div {
    display: flex;
    justify-content: space-between;
}

#footer-contatos div a {
    text-decoration: none;
    color: white;
}

#footer-contatos a:hover {
    color: rgb(94, 15, 15);
    transition: 0.5s;
}

/* AULA SOBRE UNIDADES DE MEDIDA */

/* px é uma unidade de medida de tamanho fixo.
tamanho padrão do paragrafo é 16 px*/

/* em - Ele trabalha em relação ao tamanho da font do elemento pai (padrão) (de forma especifica esta unidade de medida multiplica o tamanho da fonte do elemento pai no que voce esta solicitando) */

/* rem - Root em = ele vai depender do elemento pai de tudo (HTML) Documento principal da página */
/* font-size 62.5%; | é = a 10px mais usual usar este paramêtro para contagem */

/* vh - viewport height (altura) tamanho em relação a tela do usuário (trabalha como se fosse porcentagem) */

/* vw - viewport width (largura) tamanho em relação da tela do usuário (trabalha como se fosse porcentagem) */
/* cssgradient.io */

/* 480 */
/* 767 */
/* 991 */
/* 1366 */
/* 1920 */



@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1366px) {}


@media screen and (max-width: 991px) {


    #sessao {
        padding: 25vh;
    }

    #sessao h1 {
        font-size: 2.5em;
    }

    #sessao p {
        font-size: 1.8rem;
        margin: 15px 0;
    }

    #sessao a button {
        width: 15em;
        padding: 0.9rem;
    }

    #app {
        padding: 25vh;
    }

    #app div a button {
        padding: 0.9rem;
    }

    #app div p {
        font-size: 1em;
    }

    #app div img {
        width: 14rem;
        height: auto;
        margin-top: -50px;
    }

    #container {
        padding: 10vh;
    }

    #container h2 {
        margin-top: 0.5rem;
        font-size: 2em;
    }

    #container p {
        font-size: 0.9em;
    }

    #container a button {
        width: 9em;
        padding: 0.9rem;
    }
    
    #container img {
        width: 20rem;
        margin-left: 250px;
    }

    #container-cofre div h2 {
        font-size: 1em;
    }


    #container-cofre {
        padding: 20vh;
    }

    #container-cofre div img {
        width: 10rem;
    }

    #container-cofre div h2 {
        font-size: 14px;
        text-align: center;
    }

    #container-cofre div p {
        font-size: 12px;
        text-align: center;
        margin-left: -10px;
    }

    #footer-contatos div p {
        font-size: 10px;
    }

    #footer-contatos div a {
        font-size: 10px;
    }


    #footer-contatos div {
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 767px) {}


@media screen and (max-width: 480px) {}