/*Configuração Padrão de início*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Chamamos o body para limitar o tamanho da altura e tamanho da página*/
body {
    height: 100vh;
    width: 100vw;
}

header { /*Chamamos nosso Header para estilização*/ 
    background-color: rgb(78, 135, 168); /*Cor de fundo*/
    padding: 10vh; /*ajustamos o tamanho do preenchimento*/
}

.menu-header { /*Aqui é onde estão armazenados nossas listas do Header*/
    display: flex; /*Usamos para jogar os itens lado a lado*/
    justify-content: end; /*Aqui justificamos os itens desta lista para  o fim do Header*/
    flex-wrap: wrap; /*Usado para informar que os itens podem quebrar em telas menores*/
}

.menu-header > li > a { /*Aqui sabemos que dentro da nossa LI existe uma TAG de Link "a" */
   color: white; /*Cor da letra*/
   text-decoration: none; /*Desabilitando a decoração dos textos de Link*/
   font-size: 13px; /*Tamanho da letra*/
}

.menu-header > li > a:hover { /*Efeito ao passar o cursor*/
    color: rgb(81, 81, 228); /*Habilitando uma cor ao passar o mouse*/
    transition: 0.8s; /*Adicionamos aqui uma transição*/
}
.menu-header > li { /*Chamamos nossas Li diretamente para espaça-las*/
    margin-left: 20px; /*Margem a esquerda para espaçamento*/
}


    /* AULA SOBRE UNIDADES DE MEDIDA */

/* px é uma unidade de medida de tamanho fixo.
tamanho padrão do paragrafo é 16 px*/

/* em - Ele trabalha em relação ao tamanho da font do elemento pai (padrão) (de forma especifica esta unidade de medida multiplica o tamanho da fonte do elemento pai no que voce esta solicitando) */

/* rem - Root em = ele vai depender do elemento pai de tudo (HTML) Documento principal da página */
/* font-size 62.5%; | é = a 10px mais usual usar este paramêtro para contagem */

/* vh - viewport height (altura) tamanho em relação a tela do usuário (trabalha como se fosse porcentagem) */

/* vw - viewport width (largura) tamanho em relação da tela do usuário (trabalha como se fosse porcentagem) */